.terraform/
.terraform.lock.hcl
**/.terraform/*
**/*.tfstate
**/*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.env
.env.*
.python-version
__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
venv/
dist/
build/
.DS_Store
.idea/
.vscode/

